/*--------------- base --------------- */
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-y: scroll;
      font-family: "Roboto Mono" !important;
      background: #0f0f0f !important;
      color: #fff !important;
}

.whitespace {
      width: 100%;
      height: 100px;
}

@media(max-width: 768px) {
      .whitespace {
            display: none;
      }
}

/*--------------- navigation desktop --------------- */

nav {
      width: 100%;
      height: 80px;
      position: fixed;
      z-index: 1;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 82px;
      line-height: 80px;
      font-weight: bold;
      transition: all 0.3s ease-out;
}

nav #brand a {
      color: #09f2b4;
      transition: all 0.3s ease-out;
}

nav #brand a:hover {
      text-decoration: underline;
}

nav #menu {
      float: left;
      right: 80px;
      position: fixed;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
}

/*--------------- navigation mobile --------------- */

#toggle {
      position: absolute;
      right: 30px;
      top: 20px;
      font-weight: 300;
      z-index: 2;
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

.close-btn {
      position:absolute;
      right: 40px;
      font-weight: 100;
      z-index: 2;
      cursor: pointer;
      top: 35px;
      line-height: 80px;
      color: #c23b23;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;

}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #footerClaimMobile {
      height: 90px;
      position: fixed;
      left: 45%;
      bottom: 2em;
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #footerSocialMobile {

      float: left;
      position: fixed;
      bottom: .5em;
      transform: translateX(-52%);
      left: 45%;
}

#resize #footerSocialMobile li {

      padding-left: 40px;
      display: inline-block;
      transition: all 0.3s ease-out;

}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }

      nav #brand {
            margin-left: 24px;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

/*--------------- hero glitch effect --------------- */

.glitchero {
      font-size: 3em;
      font-weight: 700;
      text-transform: uppercase;
      position: fixed;
      top: 50%;
      left: 50%;
/*      transform: translate3d(-50%, -50%, 0);*/



      /*
      animation: glitchero 300ms 3s;
      animation: name duration timing-function delay iteration-count direction fill-mode play-state;
      */

      /*animation: glitchero 300ms linear 2s 50 normal none running;*/
}

.glitchero:hover {

      text-shadow: 
            0.05em 0 0 rgba(255, 0, 0, .75),
            -0.025em -0.05em 0 rgba(0, 255, 0, .75),
            0.035em 0.05em 0 rgba(0, 0, 255, .75);

      animation: glitchero 300ms linear 0s infinite normal none running;

}

.glitchero span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
}

.glitchero span:first-child  {
      animation: glitchero 370ms;
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
      top: -0.0125em;
      left:-0.05em;
      opacity: .7;
}

.glitchero span:last-child   {
      animation: glitchero 650ms;
      clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
      top: 0.0125em;
      left:0.035em;
      opacity: .8;      
}
/*Non mi funziona dio maialino bastardino, ho lasciato l'animazione solo sull'hover */

@keyframes glitchero {
      0% {
            text-shadow:0.05em 0 0 rgba(255, 0, 0, .75),
            -0.025em -0.05em 0 rgba(0, 255, 0, .75),
            0.035em 0.05em 0 rgba(0, 0, 255, .75);  
      }
      14% {
            text-shadow:0.05em 0 0 rgba(255, 0, 0, .75),
            -0.025em -0.05em 0 rgba(0, 255, 0, .75),
            0.035em 0.05em 0 rgba(0, 0, 255, .75);  
      }
      15% {text-shadow:-0.025em -0.05em 0 rgba(255, 0, 0, .75),
            0.065em 0.045em 0 rgba(0, 255, 0, .75),
            0.04em -0.01em 0 rgba(0, 0, 255, .75);  
      }
      49% {text-shadow:-0.025em -0.05em 0 rgba(255, 0, 0, .75),
            0.065em 0.045em 0 rgba(0, 255, 0, .75),
            0.04em -0.01em 0 rgba(0, 0, 255, .75);  
      }
      50% {text-shadow:0.035em 0.05em 0 rgba(255, 0, 0, .75),
                  0.05em 0 0 rgba(0, 255, 0, .75),
                  -0.025em -0.05em 0 rgba(0, 0, 255, .75);  
            }
      99% {text-shadow:0.035em 0.05em 0 rgba(255, 0, 0, .75),
            0.05em 0 0 rgba(0, 255, 0, .75),
            -0.025em -0.05em 0 rgba(0, 0, 255, .75);  
      }
      100% {text-shadow:-0.035em -0.035 0 rgba(255, 0, 0, .75),
            0.025em 0.05em 0 rgba(0, 255, 0, .75),
            -0.035em -0.05em 0 rgba(0, 0, 255, .75);  
      }
}

/*--------------- hero navigation --------------- */

div #wai {
      float: left;
      position: fixed;
      left: 50%;
      top:50%;
      transform: translate(-50%, +90%);
      padding: 0px;
      margin: 0px;
      width: 350px;
}



div #wai li {
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
}

div #wai li:last-child {
      float: right;
}

div #arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: fixed;
  left: 50%;
  bottom: 6%;

}
/*--------------- about page --------------- */

div #resizewai {
      z-index: 22;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resizewai.active {
      visibility: visible;
      opacity: 1;
}

.close-btn-wai {
      position:absolute;
      right: 40px;
      font-weight: 100;
      z-index: 2;
      cursor: pointer;
      top: 35px;
      line-height: 80px;
      color: #c23b23;
}

div #about-section {
      position: fixed;
      top: 15%;
      margin: 0 10%;
}

div #about-section h2 {
      margin: 30px 0;
}

div #about-section span {
      color: #579abe;
}
/*@media(max-width: 768px) {
      #toggle-wai {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }
}

@media(min-width: 768px) {
      #resizewai {
            visibility: hidden !important;
      }
}*/

/*--------------- contact page --------------- */

div #resizecnt {
      z-index: 22;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resizecnt.active {
      visibility: visible;
      opacity: 1;
}

.close-btn-cnt {
      position:absolute;
      right: 40px;
      font-weight: 100;
      z-index: 2;
      cursor: pointer;
      top: 35px;
      line-height: 80px;
      color: #c23b23;
}

div #contact-section {
      position: fixed;
      top: 15%;
      margin: 0 10%;
}

div #contact-section p {
      font-weight: 100;
}

div #contact-form {
      /*margin: 5% 1.4%;*/
}

div #contact-form ul {
      list-style: none;
      border-radius: 5px;
      padding: 20% 0;
}

div #contact-form li {
      padding: 10px 0;
}

div #contact-form li:last-of-type {
      border-bottom: none;
}

div #contact-form label {
      display: block;
      font-size: .8em;
      color: div #999;
      padding-left: 5px;
}

div #contact-form input, div #contact-form textarea {
      width: 100%;
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #fff;
      font-weight: bolder;
}

input:focus {
      outline: none;
      border: none;
}

textarea:focus {
      outline: none;
      border: none;
}

.textarea {
      border-bottom: 1px solid #dfdfdf;
}

.send {
      text-transform: uppercase;
      padding: 20px 30px;
      background: transparent;
      color: #dfdfdf;
      font-size: 14px;
      letter-spacing: 2px;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);


}

.send:hover {
      background: #dfdfdf;
      color: #101010;
}

/*--------------- project page --------------- */
div #resizeprj {
      z-index: 22;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 1000px;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resizeprj.active {
      visibility: visible;
      opacity: 1;
}

.close-btn-prj {
      position:absolute;
      right: 40px;
      font-weight: 100;
      z-index: 2;
      cursor: pointer;
      top: 35px;
      line-height: 80px;
      color: #c23b23;
}

div #accordionprj {
      position: relative;
      top: 50%;
      padding: 0 10%;

      transition: 0.8s ease-in-out;
}

div #accordionprj:hover {
      padding: 0;
      top:12%;

}


div #galleryprj {
      display: flex;
      flex-direction: row;
      width: 100%;

}

div #itemprj {
      flex: 1;
      height: 30px;
      transition: .8s ease;
      text-align: center;
      overflow: hidden;
}

div #itemprj:hover {
      flex:14;
      height: 800px;
}

div #accordioncontent {
      margin: 0;
      padding: 0;
      /*overflow: hidden;
      visibility: hidden;*/
}


div #accordioncontent h4 {
      padding-top: 5%;
      padding-left: 3%;
      text-align: left;
      font-size: 3em;
      font-weight: 300;
}

div #accordioncontent h5 {
      font-weight: 100;
      font-weight: 200;
      padding-left: 13%;
      padding-top: 5%;
      text-align: left;

}

div #accordioncontent hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 80%;
}

div #accordioncontent p {
      text-align: justify;
      width: 80%;
      font-weight: 200;
      transition: 2s ease-out;
}



/*:root {
  --color-tan: #C1B9A8;
  --color-green: #4F735B;
  --color-gold: #AC8B12;
  --color-purple: #8D7576;
  --color-red: #4F735B;
  --nav-item-offset: 10vw;
  --nav-item-hover-offset: 2%;
  --easing: cubic-bezier(.8, 0, .2, 1);
  --duration: .6s;
}*/




